<p>Address: {{input name='address' value='0x00000000' id='editor_address'}}</p>

<p>Action:
<select onchange={{action 'changeAction'}}>
  <option value=''>Pick an action!</option>
  <option value='define_basic_type'>Define (basic type)</option>
  <option value='define_custom_type'>Define (custom type)</option>
  <option value='undefine'>Undefine</option>
  <option value='set_comment'>Set comment</option>
  <option value='update_user_defined'>Update user_defined value</option>
  <option value='add_refs'>Add refs</option>
  <option value='remove_refs'>Remove refs</option>
</select></p>
<hr />
{{#if (eq action 'define_basic_type')}}
<p>
<select id='define_basic_type_type'>
  <option value='uint8_t'>uint8_t</option>
  <option value='uint16_t'>uint16_t</option>
  <option value='uint32_t'>uint32_t</option>
  <option value='offset32'>offset32</option>
  <option value='rgb'>rgb</option>
  <option value='ntstring'>ntstring</option>
</select>
</p>

<p><button {{action 'go_basic_type'}}>Go!</button></p>
{{else}}
Action not implemented!
{{/if}}
