<style>
  .operations li {
    cursor: pointer
  }

  .operations li:hover {
    background: pink;
  }

  .editor-widget {
    background: white;
    border: 1px solid red;
    position: absolute;
    top: 1em;
    left: 0;
    z-index: 1;
  }
</style>
<div class='editor-widget'>
  <label>
    operation:
    <ul class='operations' onclick={{action (mut operation) value='target.dataset.value'}}>
      <li data-value='define_basic_type'>Define (basic type)</li>
      <li data-value='define_custom_type'>Define (custom type)</li>
      <li data-value='undefine'>Undefine</li>
      <li data-value='set_comment'>Set comment</li>
      <li data-value='update_user_defined'>Update user_defined value</li>
      <li data-value='add_refs'>Add refs</li>
      <li data-value='remove_refs'>Remove refs</li>
    </ul>
  </label>
  <hr />
  {{#if (eq operation 'define_basic_type')}}
    <select onchange={{action (mut type) value='target.value'}}>
      <option value='uint8_t'>uint8_t</option>
      <option value='uint16_t'>uint16_t</option>
      <option value='uint32_t'>uint32_t</option>
      <option value='offset32'>offset32</option>
      <option value='rgb'>rgb</option>
      <option value='ntstring'>ntstring</option>
    </select>

    <button {{action 'updateBasicType'}}>Go!</button>
  {{else}}
    Action not implemented!
  {{/if}}
</div>
